.calendar-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .calendar-button:hover {
    background-color: #fcfcfc;
    transform: scale(1.1);
    color: #000000;
  }
  
  .calendar-button:focus {
    outline: none;
  }
  