.profile-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.profile-card {
  background-color: white;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 90%;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 3px;
}

.close-button:hover {
  background-color: #555;
}

.profile-info p {
  margin: 0.5em 0;
  text-align: left;
}

.edit-button{
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-right: 0.5em;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #ffffff;
  color: #333;
}